beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==2.9.2
flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
lxml==4.6.2
markupSafe==1.1.1
mechanicalSoup==1.0.0
pycparser==2.20
pyOpenSSL==19.1.0
pySocks==1.7.1
requests==2.25.1
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.3
Werkzeug==1.0.1
